/*https://colorswall.com/palette/42782*/
:root {
    --main_bg_color: #ab3cfc;
    --txt_color: rgba(255, 255, 255);
    --btn_color: #3e394c;
    --gold_color: #daba07;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/desktop-wallpaper-quiz.png);
    object-fit: cover;
    overflow: hidden;
}
button {
    border: 0;
    cursor: pointer;
    outline: none;
    color: var(--txt_color);
}

.startUp {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2rem;
    text-align: center;
}
.startUp_content {
    position: relative;
    transition: all 0.3s;
    opacity: 1;
    transform: translateY(0);
}
.startUp_content.active {
    transform: translateY(-200%);
    opacity: 0;
}
.startUp_content .logo_box {
    width: 100%;
    position: relative;
    background-color: red;
}
.startUp_content .logo_box div {
    width: 350px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 1;
    outline: none;
    user-select: none;
}
.startUp_content .logo_box img {
    width: 100%;
    object-fit: cover;
}

.startUp_box {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    background-color: var(--main_bg_color);
    padding: 2rem 0;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--txt_color);
    position: relative;
}

.startUp_box .top_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}
.startUp_box .top_content .max_score {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 1.8rem;
}
.startUp_box .top_content h2 {
    font-size: 2.25rem;
    margin-right: 5px;
}
.startUp_box .top_content .max_score i {
    color: var(--gold_color);
    font-size: 1.875rem;
}
.startUp_box .bottom_content {
    margin-top: 2rem;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.startUp_box .bottom_content button {
    width: 80%;
    padding: 0.75rem 0.5rem;
    border-radius: 0.2rem;
    background-color: var(--btn_color);
    font-size: 1.75rem;
    font-weight: 600;
    transition: all 0.3s;
    animation: btn_animation infinite 0.9s;
    position: relative;
}
.startUp_box .bottom_content button:hover {
    background-color: var(--gold_color);
}

@keyframes btn_animation {
    0% {
        width: 80%;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    50% {
        width: 75%;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
    100% {
        width: 80%;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

/*=================================*/
/*===========Game_board============*/
/*=================================*/
.container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2rem;
    text-align: center;
}
.game_content {
    height: 600px;
    max-width: 900px;
    border-radius: 0.75rem;
    background-color: var(--main_bg_color);
    margin: 0 auto;
    padding: 1rem 0;
}
.game_content {
    position: relative;
    transition: all 0.3s;
    opacity: 0;
    transform: translateY(-200%);
}
.game_content.active {
    opacity: 1;
    transform: translateY(0);
}
.game_board {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}
.score_box {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gold_color);
    border-radius: 50%;
    color: var(--txt_color);
}

.score_box h1 {
    transition: all 0.3s;
    font-size: 1.6rem;
}
.score_box h1::before,
.score_box h1::after {
    content: " ";
    position: absolute;
    width: 410px;
    height: 1px;
    background-color: var(--gold_color);
    top: 50%;
}

.score_box h1::before {
    left: -410px;
}
.score_box h1::after {
    right: -410px;
}
.answers_board {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    padding: 0 0.5rem;
}
.answers_board div {
    padding: 0 10px;
}
.ans_btns {
    width: 420px;
    padding: 1rem 2rem;
    background-color: var(--btn_color);
    border-radius: 0.2rem;
    text-align: left;
    font-size: 1rem;
    transition: all 0.3s;
}
.ans_btns:hover {
    background-color: var(--gold_color);
}
.quiz_display_board {
    width: 100%;
    border-radius: 0.25rem;
    padding: 0 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.quiz_text_content {
    background-color: var(--btn_color);
    display: flex;
    padding: 0 0.5rem;
    justify-content: center;
    align-items: center;
    color: var(--txt_color);
    font-size: 1.75rem;
    border-radius: 0.25rem;
    height: 100%;
}

.game_static {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    color: var(--txt_color);
    font-size: 1.25rem;
    padding: 0 1rem;
}
.game_static div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress_bar {
    width: 80%;
    background-color: var(--txt_color);
    height: 14px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.progress_bar .bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--gold_color);
    height: 14px;
    margin-right: auto;
    transition: all 0.3s;
}

/*===========================*/
.lose_box {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.429);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    transition: all 0.3s;
    opacity: 0;
    z-index: -1;
}
.lose_box.active {
    z-index: 10;
    opacity: 1;
}

.lose_content {
    max-width: 600px;
    background-color: var(--main_bg_color);
    border-radius: 0.75rem;
    color: white;
    margin: 0 auto;
    text-align: center;
    position: relative;
    transition: all 0.3s;
    opacity: 0;
    transform: translateY(-200%);
}
.lose_content.active {
    opacity: 1;
    transform: translateY(0);
}
.lose_content .lose_header {
    padding: 0.5rem 5rem 0 5rem;
    font-size: 1.25rem;
    margin-top: 2.25rem;
}

.lose_content .logo_box {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}
.logo_box img {
    width: 100%;
    object-fit: cover;
}
.lose_content .lose_score {
    padding: 0 2rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.lose_content .lose_score div {
    width: 80%;
    background-color: #643d80;
    border-radius: 1.25rem;
    margin-top: 0.5rem;
    color: #ffd900;
}
.lose_content .lose_score div strong {
    font-size: 2rem;
    width: 100%;
}
.lose_content .lose_retry_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    height: 68px;
}
.lose_content .lose_retry_button button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    transition: all 0.5s;
    color: var(--txt_color);
    background-color: var(--btn_color);
}
.lose_content .lose_retry_button button:hover {
    width: 180px;
    height: 50px;
    border-radius: 0.875rem;
    background-color: var(--gold_color);
}
.lose_content .lose_retry_button button i {
    transition: all 0.5s;
    transform: rotateZ(-90deg);
}
.lose_content .lose_retry_button button:hover i {
    transform: rotateZ(90deg);
}

.dot {
    top: 0;
    left: 0;
    z-index: 10000;
    position: fixed;
    pointer-events: none;
    color: #0fa2a9;
    font-size: 6px;
}

@media (max-width: 430px) {
    .lose_content .lose_header {
        padding: 0.5rem 2rem 0 2rem;
        font-size: 1.2rem;
        margin-top: 2.25rem;
    }
    .lose_content {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .container,
    .lose_box,
    .startUp {
        padding: 0 1rem;
    }
    .startUp_content .logo_box div {
        width: 230px;
    }
    .startUp_box .top_content .max_score {
        font-size: 1.4rem;
    }
    .startUp_box .top_content h2 {
        font-size: 1.875rem;
        margin-right: 5px;
    }
    .startUp_box .top_content .max_score i {
        color: var(--gold_color);
        font-size: 1.4rem;
    }
    .startUp_box .bottom_content button {
        font-size: 1rem;
    }
    .startUp_box .bottom_content {
        margin-top: 0.75rem;
    }
}
@media (max-width: 380px) {
    .startUp_content .logo_box div {
        width: 180px;
        transform: translate(-50%, -60%);
    }
    .top_content {
        flex-direction: column;
    }
}

/*=========gameMedia========*/

@media (max-width: 965px) {
    .ans_btns {
        width: 300px;
    }
    .score_box h1::before,
    .score_box h1::after {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
    }
}
@media (max-width: 725px) {
    .answers_board {
        display: flex;
        flex-direction: column;
    }
    .ans_btns {
        width: 100%;
    }
    .score_box {
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 590px) {
    .quiz_text_content p {
        font-size: 1.25rem;
    }
}
